* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

--col-primary: hsl(4, 100%, 67%); /*tomato*/
--neutral-dark: hsl(234, 29%, 20%); /*dark slate gray*/
--neutral-light: hsl(231, 7%, 60%); /* grey */
--neutral-white: hsl(0, 0%, 100%); /* white */

}

body {
    background-color: var(--neutral-dark);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

/* Typography */

h2 {
    font-size: 2.325rem;
    font-weight: 700;
}

/* Global */

img {
    display: block;
    max-width: 100%;
}

p {
    font-size: 16px;
    font-weight: 500;
}

ul {
    list-style-position: inside;
    list-style: none;
}

li {
    padding: 5px 0px;
    display: flex;
    align-items: center;
    line-height: 1.7;
    font-weight: 500;
}

li > svg {
    margin-right: 0.5rem;
}
.form-container {
    background-color: var(--neutral-white);
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
}

.left {
    grid-column: 1/2;
    display: grid;
    place-content: center;
    padding: 1em;
}

.right {
    grid-column: 2/3;
}

.right img {
    height: auto;
    object-fit: contain;
}


.email-section {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    gap: 16px;
   
}

.email-section > p {
    font-size: 14px;
}

.email-section > input {
    padding: 0.825em;
    border-radius: 6px;
}



/* Components */

button {
    background: var(--neutral-dark);
    color: var(--neutral-white);
    border: none;
    outline: none;
    padding: 1em 2em; 
    border-radius: 8px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
}


.success-message {
    display: none;
}

/* Responsive larger screens */

@media only screen and (min-width: 775px) {

    .wrapper {
        display: grid;
        place-content: center;
        min-height: 100vh;
        padding-inline: 1.325em;
    }

    .form-container {
        border-radius: 12px;
        min-width: 700px;
        padding: 1em 2em;
    }
    #mobile-img {
        display: none;
    }
}


/* Responsive smaller screens */

@media only screen and (max-width: 775px) {

   .wrapper {
        min-height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
    } 
    
    .form-container {
        width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 0;
    }
 
    #desktop-img {
     display: none;
    }

    #mobile-img {
        width: 100%;
        margin-inline: auto;
    }
 }
 